#######################################
# Basic
#######################################
ipython==5.0.0
Pillow==3.3.0
uWSGI==2.0.12
markdown==2.3.1
qrcode==5.3
PyJWT==1.4.0
MySQL-python==1.2.5
SQLAlchemy==1.1.11

#######################################
# Flask
#######################################
Flask==0.11.1

Flask-SQLAlchemy==2.2

Flask-Login==0.3.2

Flask-WTF==0.13.1

Flask-Testing==0.6.2

Flask-Migrate==2.0.4

Flask-Script==2.0.3



#######################################
# 第三方服务
#######################################



#######################################
# 开发工具
#######################################
