#######################################
# Basic
#######################################
ipython==5.0.0
Pillow==3.3.0
uWSGI==2.0.12
markdown==2.3.1

qrcode==5.3
PyJWT==1.4.0

pymongo==3.3.0

mongoengine==0.11.0


#######################################
# Flask
#######################################
Flask==0.11.1

Flask-Login==0.3.2

Flask-WTF==0.13.1

Flask-Testing==0.6.2

Flask-Script==2.0.3



#######################################
# 第三方服务
#######################################



#######################################
# 开发工具
#######################################
