#######################################
# Basic
#######################################
ipython==5.0.0

#######################################
# Flask
#######################################
Flask==1.1.1

#######################################
# 第三方服务
#######################################

#######################################
# 开发工具
#######################################
